########################################
# 🌍 AWS General Configuration
########################################
project_name = ""  # Replace with your project name
region = "us-east-1"

########################################
# 🗄️ Backend Configuration (Terraform State 관리)
########################################
backend_bucket_name = # "your-project-terraform-state-bucket"
backend_dynamodb_table = # "your-project-terraform-locks"

########################################
# 🌐 Network Configuration (VPC & 서브넷)
########################################
network_config = {
  vpc_cidr            = "10.90.0.0/16"
  availability_zones  = ["us-east-1a", "us-east-1b"]
  public_subnet_cidrs = ["10.90.1.0/25", "10.90.1.128/25"]
  private_subnet_cidrs = ["10.90.100.0/25", "10.90.100.128/25"]
  enable_nat_gateway  = false
}

# ==============================
# 🖥️ EC2 배포 설정 (샘플 스트리밍)
# ==============================
sample_streaming = false

# 🔐 Security Group 설정 (EC2 보안 그룹)
ssh_allowed_cidrs = ["XX.XX.XX.XX/32"]  # Replace with your IP address


########################################
# 📹 Kinesis Video Stream 설정
########################################
kvs_retention_hours = 24

########################################
# 🧠 Rekognition 설정 (얼굴 인식)
########################################
enable_rekognition   = true
face_match_threshold = 80

########################################
# 📩 SNS 푸시 알림 설정
########################################
sns_topic_name = "rekognition-alerts"

########################################
# 🌍 CloudFront 설정
########################################
price_class = "PriceClass_100"

# 🔐 WAF IP 기반 접근제어 설정 (CloudFront)
enable_waf        = true
waf_allowed_cidrs = ["XX.XX.XX.XX/32"]  # Replace with your IP address

# 🌍 Geo 기반 접근제어 설정 (CloudFront)
enable_geo_restriction      = true
geo_restriction_type        = "whitelist"
geo_restriction_locations   = ["KR"]
